#fetchedData{
	margin-left: 20vw;
	margin-right: 20vw;
	text-align: center;
	color: white;
}
#logoutButton {
	background-color: rgb(87, 87, 87);
	margin-left: 50%;
	transform: translate(-50%);
	border-radius:20px;
	color: white;
	border:0px solid rgb(15, 15, 15);
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
}
#logoutButton:hover {
	background-color: rgb(73, 73, 73);
}
#logoutButton:active {
	position:relative;
	top:1px;
}