#usersTable{
	margin-top: 20vh;
	display: flex;
	justify-content: center;
}
#paginatios{
	position: relative;
	left: 50%;
	top: 3vh;
	transform: translateX(-50%);
}
.searchInpit{
	position: absolute;
	top: 10px;
	/* left: 50%; */
	/* transform: translateX(-14%); */
}
#tableText{
	padding: 0.2vw;
}
#fetchedData{
	margin-left: 20vw;
	margin-right: 20vw;
	/* text-align: center; */
	color: white;
}
#userData{
	color: white;
	width: 20vw;
	margin-left: 10px;
}
#userData:hover{
	color: rgb(194, 191, 191);
}
#logoutButton {
	position: absolute;
	right: 2vw;
	bottom: 2vh;
	background-color: rgb(87, 87, 87);
	border-radius:20px;
	color: white;
	border:0px solid rgb(15, 15, 15);
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
}
#searchButton{
	background-color: rgb(87, 87, 87);
	border-radius:20px;
	color: white;
	border:0px solid rgb(15, 15, 15);
	cursor:pointer;
	font-size:17px;
	/* height: 5.5vh; */
	padding:16px 31px;
}
#manageRacksButton{
	position: absolute;
	right: 2vw;
	top: 12vh;
	background-color: rgb(87, 87, 87);
	border-radius:20px;
	color: white;
	border:0px solid rgb(15, 15, 15);
	cursor:pointer;
	font-size:17px;
	padding:16px 31px;
}
#logoutButton:hover {
	background-color: rgb(73, 73, 73);
}
#loginMessage{
	position: absolute	;
	left: 1vw;
	bottom: 3vh;
	color: red;
}
table{
	color: white;
}